.container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.renderHeader {
	display: flex;
	justify-content: space-between;
}

.actionsCell {
	display: flex;
	justify-content: center;
	gap: 8px;
}
